.about-top{
    height: 200px;
    width: 100%;
    margin-top: 0px;
     background: linear-gradient(360deg, rgb(55, 9, 55),rgb(0, 0, 0)); 
    color: white;
}
.about-container{
    height: 650px;
    width: 100%;
    background: linear-gradient(180deg, rgb(55, 9, 55),rgb(93, 1, 56))
    
}
.about-title{
    /* style={{ 
                    letterSpacing: "3px", 
                    fontSize: "45px", 
                    color: "yellow", 
                    paddingTop: '0px', 
                    paddingLeft: "150px",
                    textShadow: "0 0 20px yellow"
                }} */
                 letter-spacing: 3px;
                 font-size: 45px;
                 color: yellow;
                 padding-top: 10px;
                 padding-left: 150px;
                 text-shadow: 0 0 20px yellow;
}
.about-container p{
    color: white;
    width: 75%;
    margin-left: 150px;
    padding-top: 30px;
    letter-spacing: 1px;
}
@media (max-width: 768px) {
    .about-top{
        height: 100px;
        margin-top: 200px;
    }
    .about-container{
        background: linear-gradient(180deg, rgb(55, 9, 55),rgb(93, 1, 56));
        height: auto;
        padding: 40px 20px 80px 20px;
    }
    .about-container p{
        margin-left: 0;
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 14px;
    }
    .about-title{
        font-size: 28px;
        text-align: center;
        padding-left: 0;
        margin-left: 0;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    .about-top{
        height: 80px;
        margin-top: 150px;
    }
    .about-container{
        background: linear-gradient(180deg, rgb(55, 9, 55),rgb(93, 1, 56));
        height: auto;
        padding: 30px 15px 60px 15px;
    }
    .about-container p{
        margin-left: 0;
        width: 100%;
        padding: 12px;
        text-align: center;
        font-size: 13px;
        line-height: 1.5;
    }
    .about-title{
        font-size: 22px;
        text-align: center;
        padding-left: 0;
        margin-left: 0;
        padding-top: 0;
    }
}
