.name-container{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 100px;
    margin-left: 150px;

}
.name1{
    opacity: 0;
    transform: translateX(-20px);
    animation: slide-left 10s ease-out forwards infinite;
    animation-delay: 2s;
    font-size: 40px;
    padding-top:20px ;
}
@keyframes slide-left {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    30%,50%,80%{
        opacity: 1;
        transform: translateX(0);
    }
    90%{
        opacity: 0;
        transform: translateX(-30px);
    }
    
}
.dash{
    font-size: 80px;
    padding-left:0px ;
    margin-left:-12px ;
    color: white;
    opacity: 0;
    animation: blinking 2s ease-in-out infinite;
}
@keyframes blinking {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.details-container{
    color:gray;
    width: 1200px;
    height: 130px;
    font-size: 15px;
    margin-top: -20px;
    margin-left: 150px;
}
.details-container p{
    letter-spacing: 2px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .name1{
        padding-top: 20px;
        font-size: 20px;
    }
    .dash{
        font-size: 50px;
    }
    .name-container{
        height: 80px;
        width: 450px;
        margin-left: 60px;
        margin-top: 180px;
    }
    .details-container{
        height: 150px;
        width: 90%;
        font-size: 14px;
        margin-left: 50px;
        margin-top: 90px;
    }
    .details-container p{
        padding-bottom: 10px;
    }
    
}
@media (max-width: 480px) {
    .name-container {
        height: auto;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-left: 0;
        margin-top: 130px;
    }

    .dash {
        font-size: 120px;
        font-weight: 100;
        margin-left: -150px;
        margin-top: -40px;
    }

    .name1 {
        font-size: 16px;
        letter-spacing: 2px;
        
        padding-top: 0px;
        line-height: 1.4;
        width: 200px;
        margin-left: -120px;
    }

    .details-container {
        width: 90%;
        margin: 50px auto;
        height: auto;
        font-size: 12px;
        text-align: center;
    }

    .details-container p {
        padding-bottom: 8px;
        letter-spacing: 1px;
    }
}
