.nav-container{
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, rgb(55, 9, 55),black);
    color: white;
    top: 0;
    z-index: 1000;
}

.nav-container ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 80px;
    margin-right: 70px;
    padding-top: 50px;
    font-size: 15px;
    list-style: none;
}

.nav-container ul li{
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 20px;
    border-radius: 15px;
}

.nav-container ul li:hover{
    transform: translateY(-2px);
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}

/* Smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
}
.logo-web{
    position: absolute;
    top: 0;
    left: 30px;
    height: 150px;
    filter: brightness(0) invert(1);
}
.neon-running {
    position: relative;
    height: 30px;
    padding-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    
}

.neon-running::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #9f14b1, transparent);
    animation: neon-run 1s linear infinite;
    opacity: 0.8;
}

.neon-running:hover {
    color: #fff;
    box-shadow: 
        0 0 10px #b008b3;
        
}

@keyframes neon-run {
    0% { left: -100%; }
    100% { left: 100%; }
}

@media  (max-width: 768px) {
    .nav-container{
        width: 100%; 
        height: 150px;
    }
    .nav-container li{
        font-size: 8px;
        margin-right: -10px;
    }
    .nav-container ul{
        gap: 5px;
        padding-top: 60px;
    }
    .logo-web{
        height: 100px;
        top: 20px;
    }
    .neon-running{
        height: 20px;
    }
}