
.my-img {
    height: 570px;
    width: 380px;
    position: absolute;
    top: 100px;
    left: 1100px;
    opacity: 0.9;
    filter: 
        drop-shadow(-1px -1px 0 black)
        drop-shadow(1px -1px 0 black)
        drop-shadow(-1px 1px 0 black)
        drop-shadow(1px 1px 0 black)
        drop-shadow(0 0 0 2px black)
        drop-shadow(10px 15px 100px rgba(128, 0, 128, 0.5));
    -webkit-filter: 
        drop-shadow(-1px -1px 0 black)
        drop-shadow(1px -1px 0 black)
        drop-shadow(-1px 1px 0 black)
        drop-shadow(1px 1px 0 black)
        drop-shadow(0 0 0 2px black)
        drop-shadow(0 15px 100px rgba(128, 0, 128, 0.5));
}
@media (max-width: 768px) {
    .my-img{
        height: 310px;
        width: 200px;
        left: 560px;
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    .my-img{
        left: 270px;
        height: 250px;
        width: 150px;
    }
}