.skill-block{
    height: 300px;
    width: 100%;
    margin-top: 40px;
    padding-top: 100px;
    background: linear-gradient(180deg,black, rgb(55, 9, 55));
    color: white;
    animation: skillBackgroundShift 30s ease-in-out infinite;
}


.skill-detail{
    margin-left: 150px;
    overflow: hidden;
}
.skill-img{
    height: 80px;
    width: 80px;
    border: none;
    box-shadow: 0 3px 27px rgb(254, 254, 254,0.30);
    border-radius: 8px;
}
.skill-container{
    height: 65vh;
    width:100%;
    margin-top: 55px;
    color: white;
    margin-left: 0px;
    background-color:rgb(55, 9, 55);
}


.skill-row-1{
    height: 150px;
    width: 100%;
    margin-left: 10px;
    margin-top: 100px;
}
.skill-row-2{
    height: 150px;
    width: 100%;
    margin-left: 10px;
    background-color: rgb(0, 255, 42);
  
}
.row1{
    position: absolute;
    margin-left: 700px;
    margin-top: 10px;
   
}
.row2{
     position: absolute;
    margin-left: 700px;
    margin-top: 10px;
}
.skill-name{
    letter-spacing: 2px;
    margin-left: 150px;
    margin-top: 80px;
    font-size: 45px;
    color: yellow;
}

@media (max-width: 768px) {
    .skill-name{
        font-size: 25px;
        margin-top: 0px;
        margin-left: 70px;
    }
    .skill-block{
        height: 200px;
        margin-top: 20px;
    }
    .skill-detail{
        margin-left: 60px;
        width: 80%;
    }
    .skill-img{
        height: 50px;
        width: 50px;
    }
    .row1,.row2{
        margin-left:350px;
    }
    .skill-row-1{
        margin-top: 50px;
    }
    
}